body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background: #f5f3f3;
    color: #333;
}

header {
    background: #470380;
    padding: 30px 20px;
    text-align: center;
    color: white;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

header p {
    margin-top: 10px;
    font-size: 1.2rem;
}

header img {
    width: 10%;
    height: 100%;
}

.intro {
    text-align: center;
    padding: 0px 20px;
}

.intro h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.intro p {
    font-size: 1rem;
    color: #555;
    max-width: 600px;
    margin: 0 auto;
}

.subscribe-button {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: #FF0000;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    font-size: 1rem;
}

.assignments-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px 20px;
}

.video {
    background: rgb(142, 227, 241);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    cursor: pointer;
}

.video:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.video img {
    width: 100%;
}

.video-title {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    font-size: 0.9rem;
}

/* Flying Card Style */
.info-card {
    position: fixed;
    top: -500px;
    /* Start outside screen */
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: top 0.6s ease;
    z-index: 1000;
}

.info-card.active {
    top: 100px;
    /* Fly down */
}

.mail{
    color: blue;
}

.close-btn {
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
    font-size: 18px;
    color: red;
}
.finalprice{
    font-size: 30px;
}

.cobtn{
    background: linear-gradient(135deg, #ff6a00, #ee0979);
    color: white;
    padding: 14px 28px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.cobtn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}
